body {
    margin: 0;
    padding: 0;
}


#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}


#info01 {
	padding: 6px 8px;
	font: 10px/12px Arial, Helvetica, sans-serif;
	color: navy;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	width: fit-content;
	position: relative;
	top: 10px;
	left: 10px;
	z-index: 10;
}


#basemaps {
	font: 12px/14px Arial, Helvetica, sans-serif;
}


#daihyoten {
	font: 12px/14px Arial, Helvetica, sans-serif;
}


#info02 {
	padding: 3px 4px;
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: black;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
        width: fit-content;
	position: absolute;
	bottom: 0; 
	z-index: 10;
}


.maplibregl-ctrl-geocoder {
	font-size: 12px;
	line-height: 12px;
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	position: relative;
	background-color: #fff;
	width: 80%;
	min-width: 100px;
	z-index: 1;
	border-radius: 5px;
	transition: width 0.25s, min-width 0.25s;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.mapboxgl-popup .mapboxgl-popup-content {
	padding: 8px 10px;
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: black;
	background: white;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
	border-radius: 5px;
	width: fit-content;
}
