.title {
	padding: 6px 8px;
	font: 16px/18px Arial, Helvetica, sans-serif;
	color: navy;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}



.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.panel {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	left: 50px;
	top: 50px;
	position: absolute;
	z-index: 10;
	opacity: 0.90;
	background-color: rgb(220, 255, 220);
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
	border-radius: 5px;
	line-height: 1.6em;
}

.select01 {
	font: 14px Arial, Helvetica, sans-serif;
	opacity: 1.00;
	background-color: rgb(220, 220, 255);
	border-radius: 5px;
}
