body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}


#info01 {
	padding: 6px 8px;
	font: 16px/18px Arial, Helvetica, sans-serif;
	color: navy;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
        width: fit-content;
	position: absolute;
        }

#info02 {
	padding: 6px 8px;
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: black;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
        width: fit-content;
	position: absolute;
	bottom: 0; 
        }
